* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: "Bebas Neue", "Poppins", sans-serif;
    color: white;
    /* overflow: hidden;
    overflow-y: scroll; */
}

h2 {
    font-size: 350%;
    font-weight: 900;
}

p {
    font-size: 150%;

}

header {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/background_banner.jpg) ;
    /* background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.90) 100%), */
            /* url(../images/background_banner.jpg); */
    background-size: cover;
    background-position: center;
    margin-bottom:0;
}

nav {
    position: absolute;
    top: 3%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 3%;
    /* border: 1px solid #ccc; */
}
 
.section-divider-top-margin {  
    width: 100%;
    margin-top: 10px;
    border-color: black;
}

.section-divider-bottom-margin {
    width: 100%;
    margin-bottom: 10px;
    margin-top:0;
    border-color: black;
}

.div-nav-logo{
    float: left;
    padding-top: 1%;
}
.nav-netflix-logo{
    width: 175px;
    height: 40px;
}

.navbar-items {    
    float: right;
    padding-top: 2%;
}

.navbar-items a {
    width: max-content;
    margin: 8px;
    background-color: rgb(223, 19, 19);
    border-radius: 5px;
    padding: 8px 15px;
    color: white;
    font-size:medium;
    text-decoration: none;
}

.banner-text {
    width: 100%;
    position: absolute;
    top: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #fff; */
    text-align: center;
}

.banner-text  h2, h4, h6 {
    margin-bottom: 2%;
}

.banner-text h1 {
    margin-bottom: 2%;
    font-weight:900;
    font-size: 350%;
}

.banner-text h3 {
    margin-bottom: 2%;
    font-size: 200%;
}

.banner-text h4 {
    margin-bottom: 2%;
    font-size: 150%;
}

.banner-text div {
    width: 100%;
    
}

.banner-text div form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
   

}

.banner-text div form input {
    background-color: rgb(0, 0, 0);
    /* color:white !important; */
    width: 35%;
    height: 50px;
    opacity: 0.55;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 1%;
    font-size: medium;
    font-weight: bold;
    padding-left: 1%;

}

.banner-text div form button {
    width: max-content;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
    color: #fff;
    background-color: rgb(223, 19, 19);
    border-color: rgb(223, 19, 19);
}

main {
    background-color: rgb(27, 25, 25);
}

section {
    background-color: black;
    margin-bottom: 3px;
    margin-top: 10px;
    padding: 0;
}



main span a{
    float: left;
    text-align: left;
    color: gray;
    margin: 6% 0 1% 3%;
    font-size: smaller;
}

.enjoy-on-tv {

    padding-top: 8%;
    padding-left: 3%;
}

.watch-everywhere {

    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 20%;

 }

 .download-your-shows {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 5%;
        float: right;

 }

 .download-your-shows-img {
    margin-top: 5%;
    margin-bottom: 5%;
 }

 .kids-profile {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 5%;
    float: right;
 }

  .kids-profile-img {
      padding-top: 5%;
      padding-bottom: 5%;
      
  }


.imgSlider {
    width: 100%;
    height: auto;
    /* height: 300px !important; */
}




footer {

    width: 100%;
    padding: 0 25% 6% 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: gray;

}

footer span {
    width: 33%;
    min-width: 100px;
}

footer span a {
    float: left;
    text-align: left;
    color: gray;
    margin-top: 2%;
    font-size: smaller;
}

footer div {
    margin-top: 3%;
}

footer div select {
    min-width: max-content;
    background-color: black;
    color: white;
    border: 1px solid gray;
    padding: 3% 20%;
    margin-bottom: 10%;
    font-size: medium;
    border-radius: 5px;
}

footer div span {
    font-size: smaller;
}



/**** MEDIA QUERIES ****/

/* @media screen and (max-width:1080px) { */
@media screen and (max-width:1080px) {

        header{ 
            min-height: 60vh;       
            }


nav {
      padding: 0 3%;
}
    .nav-netflix-logo {
            width: 100px;
            height: 20px;
        }

.banner-text {
    top: 20%;
}
    
    .banner-text h1 {
            font-weight: bold;
            font-size:175%;
        }
    
        .banner-text h3 {
            font-size:100%;
            font-weight: lighter;
        }
    
        .banner-text h5 {
            font-size:smaller
        }
    
        .banner-text div {
            width: 100%;
            font-weight: lighter;
    
        }

        .banner-text div form input {
                    width: 30%;
                 }
    
    
}

/* @media screen and (max-width:700px) { */
@media screen and (max-width:992px) {


    .banner-text div form input {
            height: 35px;
            font-size: smaller;
    
        }
    section div {
           text-align: center;
        }

    .watch-everywhere {
        padding-left: 3%;
        padding-right: 3%;
    }

    /* .kids-profile {
        float: left;
    } */
    footer span {
            
            width: 45%;
        }

}

/* @media screen and (max-width:535px) { */
@media screen and (max-width:768px) {

    header {
        
            min-height: 60vh;
        
            }
        
  
    .banner-text {
        top: 20%;
                }

    .banner-text h1 {
        /* font-weight: bold; */
        font-size: medium;
    }

    .banner-text h3 {
        font-size: small;
    }

    .banner-text h5 {
        font-size: smaller
    }

    .banner-text div {
        width: 100%;

    }

     .banner-text div form input {
        width: 55%;
    } 

    .banner-text div form button {
        /* margin: auto; */
        font-size: smaller;
        
    }

        footer span {
    
            width: 85%;
        }
}


/* @media screen and (max-width: 300px){ */
@media screen and (max-width: 576px) {
    header {
 
            min-height: 90vh;           
    
        }

    nav {
           flex-direction: column;
           justify-content: center;
           align-items: center;
        }
   
    .banner-text {
        top: 20%;
    }

        .banner-text div form input {
            margin: 10px auto;
            width: 95%;
        }

    .banner-text div form button {
        margin: 10px auto;
                 
    }
        

}


